form {
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  overflow-y: auto;
  scrollbar-color: black lightgray;
  scrollbar-width: thin;

  .form-row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .field {
      flex: 1;

      &.error { margin-top: 30px; }

      &.select { transform: translateY(-11px); }
    }
  }
}
